In [1]:
import pandas as pd
from Bio import SeqIO

In [3]:
bbh_table = pd.read_csv('bbh/GCF_000146045.2_R64_protein_vs_GCF_000002525.2_ASM252v1_protein_parsed.csv',index_col='Unnamed: 0')
yarrowia_annotations = pd.read_csv('tables/yarrowia_NCBI_table.csv',index_col='#Name')
sacc_annotations = pd.read_csv('tables/scerevisiae_NCBI_table.csv',index_col='#Name')

In [4]:
blast_dataframe = pd.DataFrame(columns=['gene AID', 'gene name','subject AID','subject name',
                                       'gene product AID','subject product AID','gene product name','subject product name','COV'])

In [5]:
for i in range (0,bbh_table.shape[0]):
    gene_aid = list(bbh_table['gene'])[i]
    subject_aid = list(bbh_table['subject'])[i]
    subject_name = yarrowia_annotations.loc[yarrowia_annotations['Protein product']==subject_aid]['Locus tag'][0]
    gene_name = sacc_annotations.loc[sacc_annotations['Protein product']==gene_aid]['Locus tag'][0]
    gene_product = sacc_annotations.loc[sacc_annotations['Protein product']==gene_aid]['Protein product'][0]
    subject_product = yarrowia_annotations.loc[yarrowia_annotations['Protein product']==subject_aid]['Protein product'][0]
    gene_product_name = sacc_annotations.loc[sacc_annotations['Protein product']==gene_aid]['Protein Name'][0]
    subject_product_name = yarrowia_annotations.loc[yarrowia_annotations['Protein product']==subject_aid]['Protein Name'][0]
    cov = list(bbh_table['COV'])[i]
    blast_dataframe.loc[len(blast_dataframe.index)] = [gene_aid, gene_name, subject_aid,subject_name,
                                                      gene_product,subject_product,gene_product_name,
                                                      subject_product_name,cov]

In [6]:
blast_dataframe

,gene AID,gene name,subject AID,subject name,gene product AID,subject product AID,gene product name,subject product name,COV
0,NP_001018030.1,YCL064C,XP_503774.1,YALI0_E10307g,NP_001018030.1,XP_503774.1,L-serine/L-threonine ammonia-lyase CHA1,YALI0E10307p,0.930556
1,NP_001027534.1,YIL156W-B,XP_505700.1,YALI0_F21241g,NP_001027534.1,XP_505700.1,Mco8p,YALI0F21241p,1.000000
2,NP_001106172.4,YGL041W-A,XP_503721.1,YALI0_E09130g,NP_001106172.4,XP_503721.1,Dpc13p,YALI0E09130p,0.909091
3,NP_009305.1,Q0045,NP_075426.2,YalifMp05,NP_009305.1,NP_075426.2,cytochrome c oxidase subunit 1 (mitochondrion),COX1-i7 protein (mitochondrion),0.689139
4,NP_009306.1,Q0070,NP_075426.2,YalifMp05,NP_009306.1,NP_075426.2,intron-encoded DNA endonuclease aI5 alpha (mit...,COX1-i7 protein (mitochondrion),0.512698
...,...,...,...,...,...,...,...,...,...
4303,NP_878153.1,YNL138W-A,XP_500135.2,YALI0_A16566g,NP_878153.1,XP_500135.2,U2 snRNP complex subunit YSF3,YALI0A16566p,0.870588
4304,NP_878158.3,YNL024C-A,XP_002143044.1,YALI0_D03949g,NP_878158.3,XP_002143044.1,Ksh1p,YALI0D03949p,0.958333
4305,NP_878168.1,YOR020W-A,XP_002143014.1,YALI0_B11913g,NP_878168.1,XP_002143014.1,Mco10p,YALI0B11913p,0.277778
4306,NP_878179.1,YPL189C-A,XP_002143042.1,YALI0_C22719g,NP_878179.1,XP_002143042.1,Coa2p,YALI0C22719p,0.500000
4307,NP_976246.1,YCL012C,XP_505434.1,YALI0_F14905g,NP_976246.1,XP_505434.1,uncharacterized protein YCL012C,YALI0F14905p,0.947761

In [13]:
sacc_gene_set = pd.read_table('tables/SCerevisiaeGeneSet.tsv')
sacc_gene_set

,Sr No,Gene ID,Specie,Gene name,Gene Description
0,S000000001,YAL001C,S. cerevisiae,TFC3,Transcription Factor class C
1,S000000002,YAL002W,S. cerevisiae,VPS8,Vacuolar Protein Sorting
2,S000000003,YAL003W,S. cerevisiae,EFB1,Elongation Factor Beta
3,S000000004,YAL005C,S. cerevisiae,SSA1,Stress-Seventy subfamily A
4,S000000005,YAL007C,S. cerevisiae,ERP2,Emp24p/Erv25p Related Protein
...,...,...,...,...,...
4303,S000028539,YDR182W-A,S. cerevisiae,NaN,NaN
4304,S000028547,YFL041W-A,S. cerevisiae,NaN,NaN
4305,S000028698,YNL024C-A,S. cerevisiae,KSH1,"KSH (similar to the Hungarian word for ""small"")"
4306,S000028826,YGL041W-A,S. cerevisiae,DPC13,Delta-Psi dependent mitochondrial import and C...
4307,S000029705,YCL012C,S. cerevisiae,NaN,NaN

In [14]:
sacc_gene_set[sacc_gene_set['Gene name']=='GAL10']

sacc_TRN = pd.read_table('SCerevisiaeTRN.tsv')

          Sr No  Gene ID         Specie Gene name      Gene Description
148  S000000223  YBR019C  S. cerevisiae     GAL10  GALactose metabolism

In [18]:
sacc_TRN = pd.read_csv('tables/SCerevisiaeTRN.tsv')
sacc_TRN

          TF/Gene
0      GAL4;GAL10
1       GAL4;GAL1
2       GAL4;GAL3
3       GAL4;SUR7
4       GAL4;SWD1
...           ...
10693   CUP2;FET3
10694   PPR1;URA1
10695   PPR1;URA4
10696   RTG2;CIT1
10697   TDA9;ALD6

[10698 rows x 1 columns]

In [30]:
TFs = []
TFs_genes = []

for string_element in sacc_TRN['TF/Gene']:
    tf_string = ''
    tf_gene_string = ''
    for char in string_element:
        if(char != ';'):
            tf_string = tf_string + char
        if(char ==';'):
            index = string_element.index(';')
            tf_gene_string = string_element[index+1:]
            break
    TFs.append(tf_string)
    TFs_genes.append(tf_gene_string)

In [78]:
sacc_TRN_dataframe = pd.DataFrame(columns=['regulator','gene_name'])
sacc_TRN_dataframe['regulator']=TFs
sacc_TRN_dataframe['gene_name'] = TFs_genes
gene_id = []

for gene in sacc_TRN_dataframe['gene_name']:
    gene_name = list(sacc_gene_set[sacc_gene_set['Gene name']==gene]['Gene ID'])
    if(len(gene_name)):
        gene_id.append(list(sacc_gene_set[sacc_gene_set['Gene name']==gene]['Gene ID']).pop())
    else:
        gene_id.append('None')

        
sacc_TRN_dataframe['sacc_gene_id']=gene_id

yarrowia_gene_match = []
for gene_id in sacc_TRN_dataframe['sacc_gene_id']:
    blast_hits = blast_dataframe[blast_dataframe['gene name']==gene_id]
    yarrowia_gene_match = []
    if(blast_hits.shape[0]):
        yarrowia_gene_match.append(blast_hits['subject name'].tolist().pop())
    
sacc_TRN_dataframe['gene_id']=yarrowia_gene_match
sacc_TRN_dataframe

ValueError: Length of values (1) does not match length of index (10698)

In [82]:
blast_dataframe[blast_dataframe['gene name']==gene_id]['subject name'].tolist().pop()

'YALI0_C03025g'

In [84]:
blast_hits.shape[0]

1